<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>用户中心</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="keywords" content="某某动漫贴吧平台">
  <meta name="description" content="提供动漫交流的共享平台">
  <link rel="stylesheet" href="/static/res/layui/css/layui.css">
  <link rel="stylesheet" href="/static/res/css/global.css">
</head>
<body>

<div class="fly-header layui-bg-black">
  <div class="layui-container">
    <a class="fly-logo" href="/">
      <!--<img src="/static/res/images/logo.png" alt="layui">-->
    </a>

    <ul class="layui-nav fly-nav-user">

      <!-- 登入后的状态 -->
      <#if Session['user']?exists>

        <li class="layui-nav-item">
          <a class="fly-nav-avatar" href="javascript:;">
            <cite class="layui-hide-xs">${user.nickname}</cite>
            <img
              src="${user.avatar!}">
          </a>
          <dl class="layui-nav-child">
            <dd><a href="/user/set"><i class="layui-icon">&#xe620;</i>基本设置</a></dd>
            <dd><a href="/user/${user.id}"><i class="layui-icon"
                                            style="margin-left: 2px; font-size: 22px;">&#xe68e;</i>我的主页</a>
            </dd>
            <hr style="margin: 5px 0;">
            <dd><a href="/logout" style="text-align: center;">退出</a></dd>
          </dl>
        </li>
      <#else>
        <!-- 未登入的状态 -->
        <li class="layui-nav-item">
          <a class="iconfont icon-touxiang layui-hide-xs" href="/login"></a>
        </li>
        <li class="layui-nav-item">
          <a href="/login">登录</a>
        </li>
        <li class="layui-nav-item">
          <a href="/register">注册</a>
        </li>
      </#if>
    </ul>
  </div>
</div>

<div class="layui-container fly-marginTop fly-user-main">
  <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="user">
    <li class="layui-nav-item">
      <a href="/user/${user.id}">
        <i class="layui-icon">&#xe68e;</i>
        我的主页
      </a>
    </li>
    <li class="layui-nav-item layui-this">
      <a href="/user/center">
        <i class="layui-icon">&#xe612;</i>
        用户中心
      </a>
    </li>
    <li class="layui-nav-item">
      <a href="/user/set">
        <i class="layui-icon">&#xe620;</i>
        基本设置
      </a>
    </li>
  </ul>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="site-tree-mobile layui-hide">
    <i class="layui-icon">&#xe602;</i>
  </div>
  <div class="site-mobile-shade"></div>

  <div class="fly-panel fly-panel-user" pad20>
    <!--<div class="layui-tab layui-tab-brief" lay-filter="user">-->
      <!--<ul class="layui-tab-title" id="LAY_mine">-->
        <!--<li data-type="mine-jie" lay-id="index" class="layui-this">我发布的信息（<span>${myArticles?size}</span>）</li>-->
        <!--&lt;!&ndash;message&ndash;&gt;-->
        <!--<li data-type="mine-jie" lay-id="index" class="layui-this">消息通知（<span>${myArticles?size}</span>）</li>-->
      <!--</ul>-->

      <!--<div class="layui-tab-content" style="padding: 20px 0;">-->
        <!--<div class="layui-tab-item layui-show">-->
          <!--<ul class="mine-view jie-row">-->
            <!--<#if myArticles??>-->
              <!--<#list myArticles as article>-->
                <!--<li>-->
                  <!--<a class="jie-title" href="/article/${article.id}" target="_blank">${article.title}</a>-->
                  <!--<i>${article.createTime}</i>-->
                  <!--<em>${article.commentCount}评论</em>-->
                <!--</li>-->
              <!--</#list>-->
            <!--<#else>-->
              <!--暂无数据-->
            <!--</#if>-->
          <!--</ul>-->
          <!--<div id="LAY_page"></div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
      <ul class="layui-tab-title">
        <li class="layui-this">我发布的帖子</li>
        <li>消息通知</li>
      </ul>
      <div class="layui-tab-content" style="padding: 20px 0;">
        <div class="layui-tab-item">
          <ul class="mine-view jie-row">
            <#if myArticles??>
            <#list myArticles as article>
            <li style="height: 28px;">
              <a class="jie-title" href="/article/${article.id}" target="_blank" style="font-size: 14px;margin-top: 5px">标题：${article.title}</a>
              <i style="font-size: 14px;margin-top: 5px">${article.createTime}</i>
              <em style="font-size: 14px;margin-top: 5px">${article.commentCount}评论</em>
            </li>
            </#list>
            <#else>
            暂无数据
          </#if>
          </ul>
          <div id="LAY_page"></div>
        </div>
        <!--消息通知-->
        <div class="layui-tab-item layui-show">
          <ul class="mine-view jie-row">
            <#if notifies??>
            <#list notifies as notify>
            <#if notify.type == "评论">
            <li style="height: 28px;">
              <a class="jie-title" href="/article/${notify.articleId}" onclick="changeStatus(${notify.id})" target="_blank" style="font-size: 14px; margin-top: 5px">{${notify.username}}评论了你的帖子：${notify.content}</a>
              <#if notify.isReaded == 0>
              <i id="unreaded" style="font-size: 14px;margin-top: 5px; color:lawngreen">未读</i>
              <i id="readed"   style="font-size: 14px;display: none">已读</i>
              </#if>
              <#if notify.isReaded == 1>
              <i style="font-size: 14px;margin-top: 5px;">已读</i>
              </#if>
              <em style="font-size: 14px;margin-top: 5px">${notify.time}</em>
            </li>
            </#if>
            <#if notify.type == "公告">
            <li style="height: 28px;">
              <a class="jie-title" href="/article/${notify.articleId}" target="_blank" style="font-size: 14px;margin-top: 5px">发布了公告：${notify.content}</a>
              <#if notify.isReaded == 0>
              <i style="font-size: 14px;margin-top: 5px; color:lawngreen">未读</i>
              </#if>
              <#if notify.isReaded == 1>
              <i style="font-size: 14px;margin-top: 5px;">已读</i>
              </#if>
              <em style="font-size: 14px;margin-top: 5px">${notify.time}</em>
            </li>
        </#if>
          </#list>
          <#else>
          暂无数据
        </#if>
          </ul>
        <div id="LAY_page2"></div>
      </div>

    </div>
    </div>

  </div>
</div>

<div class="fly-footer">
  <p>某某动漫贴吧 &nbsp;&nbsp; Copyright&nbsp; &copy; 2020 amzc</p>
</div>

<script src="/static/res/layui/layui.js"></script>
<script>
  layui.config({
    version: "3.0.0"
    , base: '/static/res/mods/'
  }).extend({
    fly: 'index'
  }).use(['fly','jquery'],function() {
      var $ = layui.jquery;
  });

  function changeStatus(notify_id){
      layui.jquery.ajax({
        url: "/article/changeIsReaded",
        type: "post",
        data: JSON.stringify(notify_id),
        dataType: "json",
        contentType: "application/json",
        success: function(result){
            if(result.msg=="success"){
                console.log("changeIsReader succeed");
                document.getElementById("readed").style.display="inline";
                document.getElementById("unreaded").style.display="none";
                alert("success");
            }else{
                alert("error!!!");
            }
        }
      })
  }

</script>

</body>
</html>